swagger: '2.0'
info:
  description: 微骆开放平台接口
  version: 1.0.0
  title: WeLogix OpenAPI
host: openapi.welogix.co
basePath: /v1
schemes:
  - http
paths:
  /orders:
    post:
      tags:
        - Order 订单
      summary: 批量创建新订单
      description: ''
      operationId: order.create
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
      parameters:
        - name: token
          in: query
          description: 授权凭证
          required: true
          type: string
        - name: orders
          in: body
          description: 订单数据数组
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/SofOrder'
            xml:
              name: ORDERS
              wrapped: true
      responses:
        '200':
          description: 订单创建成功
        '400':
          description: 接口参数错误
        '403':
          description: API接口授权凭证错误
        '500':
          description: 服务器创建逻辑错误
  '/orders/{id}':
    put:
      tags:
        - Order 订单
      summary: Update an existing pet
      description: ''
      operationId: updatePet
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int64
        - name: body
          in: body
          description: Pet object that needs to be added to the store
          required: true
          schema:
            $ref: '#/definitions/SofOrder'
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: Pet not found
        '405':
          description: Validation exception
securityDefinitions:
  oauth:
    type: oauth2
    authorizationUrl: 'https://openapi.welogix.cn/oauth2/authorize'
    flow: implicit
  apiKey:
    type: apiKey
    name: appid
    in: query
definitions:
  SofOrder:
    type: object
    required:
      - cust_order_no
    properties:
      cust_code:
        type: string
        description: App对应接口未配置客户时,需填写
        xml:
          name: CUST_CODE
      customer_name:
        type: string
        description: 客户名称
        xml:
          name: CUSTOMER_NAME
      cust_order_no:
        type: string
        description: 客户单号
        xml:
          name: CUST_ORDER_NO
      cust_shipmt_transfer:
        type: string
        description: IMPT 进口 EXPT 出口 DOM 国内流程
        default: 'DOM'
        enum:
          - 'IMPT'
          - 'EXPT'
          - 'DOM'
        xml:
          name: CUST_SHIPMT_TRANSFER
      cust_shipmt_pieces:
        type: number
        format: float
        description: 件数
        xml:
          name: CUST_SHIPMT_PIECES
      cust_shipmt_wrap_type:
        type: string
        description: 包装
        enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
        xml:
          name: CUST_SHIPMT_WRAP_TYPE
      cust_shipmt_weight:
        type: number
        format: float
        description: 总毛重
        xml:
          name: CUST_SHIPMT_WEIGHT
      cust_shipmt_volume:
        type: number
        format: float
        description: 总体积
        xml:
          name: CUST_SHIPMT_VOLUME
      cust_shipmt_expedited:
        type: string
        description: 紧急程度
        enum:
          - '0'
          - '1'
          - '2'
        xml:
          name: CUST_SHIPMT_EXPEDITED
      cust_shipmt_goods_type:
        type: string
        description: 货物类型
        default: '0'
        enum:
          - '0'
          - '1'
          - '2'
        xml:
          name: CUST_SHIPMT_GOODS_TYPE
      cust_receiver_code:
        type: string
        description: 收货方代码
        xml:
          name: CUST_RECEIVER_CODE
      cust_receiver_name:
        type: string
        description: 收货方名称
        xml:
          name: CUST_RECEIVER_NAME
      cust_receiver_contact:
        type: string
        description: 收货方联系人
        xml:
          name: CUST_RECEIVER_CONTACT
      cust_receiver_address:
        type: string
        description: 收件详细地址
        xml:
          name: CUST_RECEIVER_ADDRESS
      cust_receiver_tel:
        type: string
        description: 收货方联系电话
        xml:
          name: CUST_RECEIVER_TEL
      cust_receiver_mobile:
        type: string
        description: 收货方手机号
        xml:
          name: CUST_RECEIVER_MOBILE
      cust_remark:
        type: string
        description: 备注
        xml:
          name: CUST_REMARK
      cust_shipmt_trans_mode:
        type: string
        description: 运输方式
        enum:
          - '2'
          - '5'
          - '3'
        xml:
          name: CUST_SHIPMT_TRANS_MODE
      bl_mawb:
        type: string
        description: 提运单/主运单
        xml:
          name: BL_MAWB
      swb_hawb:
        type: string
        description: 海运单/分运单
        xml:
          name: SWB_HAWB
      cust_shipmt_vessel:
        type: string
        description: 船名/航班号
        xml:
          name: CUST_SHIPMT_VESSEL
      cust_shipmt_voy:
        type: string
        description: 航次
        xml:
          name: CUST_SHIPMT_VOY
      cust_shipmt_forwarder:
        type: string
        description: 货运代理
        xml:
          name: CUST_SHIPMT_FORWARDER
      cust_shipmt_freight:
        type: number
        format: float
        description: 运费
        xml:
          name: CUST_SHIPMT_FREIGHT
      cust_shipmt_freight_currency:
        type: string
        description: 运费币制
        xml:
          name: CUST_SHIPMT_FREIGHT_CURRENCY
      cust_shipmt_insur_fee:
        type: number
        format: float
        description: 保费
        xml:
          name: CUST_SHIPMT_INSUR_FEE
      cust_shipmt_insur_currency:
        type: string
        description: 保费币制
        xml:
          name: CUST_SHIPMT_INSUR_CURRENCY
      cust_shipmt_misc_fee:
        type: number
        format: float
        description: 杂费
        xml:
          name: CUST_SHIPMT_MISC_FEE
      cust_shipmt_misc_currency:
        type: string
        description: 杂费币制
        xml:
          name: CUST_SHIPMT_MISC_CURRENCY
      products:
        description: 订单明细数组
        type: array
        items:
          $ref: '#/definitions/SofOrderProduct'
    xml:
      name: ORDER
  SofOrderProduct:
    type: object
    properties:
      gt_container_no:
        type: string
        description: 集装箱号
        xml:
          name: GT_CONTAINER_NO
      inv_no_in:
        type: string
        description: 发票号
        xml:
          name: INV_NO_IN
      gt_invoice_date:
        type: string
        format: date
        description: 发票日期
        xml:
          name: GT_INVOICE_DATE
      po_no:
        type: string
        description: 订单号
        xml:
          name: PO_NO
      pre_entry_seq_no:
        type: string
        description: 报关单号/报关内部编号
        xml:
          name: PRE_ENTRY_SEQ_NO
      gt_decl_g_no:
        type: integer
        description: 报关单项号
        xml:
          name: GT_DECL_G_NO
      gt_product_no:
        type: string
        description: 商品货号
        xml:
          name: GT_PRODUCT_NO
      gt_inner_code:
        type: string
        description: 内部代码
        xml:
          name: GT_INNER_CODE
      gt_manual_no:
        type: string
        description: '账册/手册号'
        xml:
          name: GT_MANUAL_NO
      gt_prdt_item_no:
        type: string
        description: '备案序号'
        xml:
          name: GT_PRDT_ITEM_NO
      gt_hscode:
        type: string
        description: 商品编号(10/13位)
        xml:
          name: GT_HSCODE
      gt_name_cn:
        type: string
        description: 商品中文名称
        xml:
          name: GT_NAME_CN
      gt_name_en:
        type: string
        description: 英文名称
        xml:
          name: GT_NAME_EN
      gt_qty_pcs:
        type: number
        format: float
        description: 数量(个数)
        xml:
          name: GT_QTY_PCS
      gt_unit_pcs:
        type: string
        description: 单位(个数)
        xml:
          name: GT_UNIT_PCS
      gt_g_model:
        type: string
        description: 规范申报
        xml:
          name: GT_G_MODEL
      gt_g_qty:
        type: number
        format: float
        description: 成交数量
        xml:
          name: GT_G_QTY
      gt_g_unit:
        type: string
        description: 成交单位
        xml:
          name: GT_G_UNIT
      gt_qty_1:
        type: number
        format: float
        description: 法定第一数量
        xml:
          name: GT_QTY_1
      gt_unit_1:
        type: string
        description: 法定第一单位
        xml:
          name: GT_UNIT_1
      gt_qty_2:
        type: number
        format: float
        description: 法定第二数量
        xml:
          name: GT_QTY_2
      gt_unit_2:
        type: string
        description: 法定第二单位
        xml:
          name: GT_UNIT_2
      gt_grosswt:
        type: number
        format: float
        description: 毛重(千克)
        xml:
          name: GT_GROSSWT
      gt_netwt:
        type: number
        format: float
        description: 净重(千克)
        xml:
          name: GT_NETWT
      gt_unit_price:
        type: number
        format: float
        description: 申报单价
        xml:
          name: GT_UNIT_PRICE
      gt_amount:
        type: number
        format: float
        description: 申报总价
        xml:
          name: GT_AMOUNT
      gt_currency:
        type: string
        description: 币制
        xml:
          name: GT_CURRENCY
      gt_duty_mode:
        type: string
        description: 征免方式
        enum:
          - '1'
          - '照章征税'
          - '2'
          - '折半征税'
          - '3'
          - '全免'
          - '4'
          - '特案'
          - '5'
          - '随征免性质'
          - '6'
          - '保证金'
          - '7'
          - '保函'
          - '8'
          - '折半补税'
          - '9'
          - '全额退税'
        xml:
          name: GT_DUTY_MODE
      gt_origin_country:
        type: string
        description: 目的国
        xml:
          name: GT_ORIGIN_COUNTRY
      gt_dest_country:
        type: string
        description: 原产国
        xml:
          name: GT_DEST_COUNTRY
      gt_version_no:
        type: string
        description: 版本号
        xml:
          name: GT_VERSION_NO
      gt_processing_fees:
        type: string
        description: 工缴费
        xml:
          name: GT_PROCESSING_FEES
      gt_trxn_mode:
        type: string
        description: 成交方式
        xml:
          name: GT_TRXN_MODE
      gt_virtual_whse:
        type: string
        description: 库别
        xml:
          name: GT_VIRTUAL_WHSE
      gt_supplier:
        type: string
        description: 供货商
        xml:
          name: GT_SUPPLIER
      gt_external_lot_no:
        type: string
        description: 批次号
        xml:
          name: GT_EXTERNAL_LOT_NO
      gt_serial_no:
        type: string
        description: 序列号
        xml:
          name: GT_SERIAL_NO
      gt_attrib_1_string:
        type: string
        description: 扩展属性1
        xml:
          name: GT_ATTRIB_1_STRING
      gt_attrib_2_string:
        type: string
        description: 扩展属性2
        xml:
          name: GT_ATTRIB_2_STRING
      gt_attrib_3_string:
        type: string
        description: 扩展属性3
        xml:
          name: GT_ATTRIB_3_STRING
      gt_attrib_4_string:
        type: string
        description: 扩展属性4
        xml:
          name: GT_ATTRIB_4_STRING
      gt_attrib_5_string:
        type: string
        description: 扩展属性5
        xml:
          name: GT_ATTRIB_5_STRING
      gt_attrib_6_string:
        type: string
        description: 扩展属性6
        xml:
          name: GT_ATTRIB_6_STRING
      gt_attrib_7_date:
        type: string
        format: dateTime
        description: 扩展属性7
        xml:
          name: GT_ATTRIB_7_DATE
      gt_attrib_8_date:
        type: string
        format: dateTime
        description: 扩展属性8
        xml:
          name: GT_ATTRIB_8_DATE
    xml:
      name: PRODUCT
  ApiResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
      type:
        type: string
      message:
        type: string
externalDocs:
  description: docs.welogix.cn
  url: 'https://docs.welogix.cn'
